
@mixin grey-box {
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(225, 225, 225);
  border-radius: 3px;
}

/* site layout */

.container {
  margin: 20px 20px;
  position: relative;
}

a:hover, a:focus {
  text-decoration:none;
}

h1 {
  display: inline-block;
  font-size: 2em;
}

/* Navbar */

.navbar-default {
  background-color: #ccc;
}

/* Prize Listing */
.prize-name {
  @include grey-box;
  width: 500px;
  height: auto;
  position:relative;
  padding: 10px 10px;
  vertical-align: middle;
  margin: 4px 20px;
  font-size: 1.2em;
}

.link-div {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
  text-decoration: none;
}

.close {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
}

/* Form styles */
    .form-wrapper {
      color: #ccc;
      font-weight: bold;
      width: 60%;
      height: auto;
      padding: 20px 5px;
      @include grey-box;
    }

    .prize-element {
      display: inline-block;
    }
