// Place all the styles related to the Prizeboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background: #bbb;
$category-background: #d3d3d3;

@mixin blue_back {
  background-size: 2000px 1300px;
  background-repeat:no-repeat;
  background-image: -ms-radial-gradient(left center, ellipse farthest-corner, #163857 0%, #1487B8 100%);
  background-image: -moz-radial-gradient(left center, ellipse farthest-corner, #163857 0%, #1487B8 100%);
  background-image: -o-radial-gradient(left center, ellipse farthest-corner, #163857 0%, #1487B8 100%);
  background-image: -webkit-gradient(radial, left center, 0, left center, 980, color-stop(0, #163857), color-stop(1, #1487B8));
  background-image: -webkit-radial-gradient(left center, ellipse farthest-corner, #163857 0%, #1487B8 100%);
  background-image: radial-gradient(ellipse farthest-corner at left center, #163857 0%, #1487B8 100%);
  
}

// $category-background: #fff3d6;
body.prizeboard {

  @include blue_back;

 &.grey-back {
    // background-color: $background;

    font-family: 'Oswald', sans-serif;
    font-family: 'Titan One', cursive;
    font-family: 'Bowlby One', cursive;
    font-family: 'Comfortaa', cursive;
  }

  a {
    outline: none;
  }

  .category-container{
    position:absolute;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
    background-color: $background;
    border: 1px solid #a7a7a7;
    padding: 0 1.25%;
    z-index: -2;
    @include blue_back;

  }


  .category-holder{
    float: left;
    width: 48%;
    height:46.5%;
    background-color: $category-background;
    border: 1px solid #a7a7a7;
    padding: 0 1.25%;
    -webkit-box-shadow: 3px 3px 5px #0A1926;
    -moz-box-shadow:    3px 3px 5px #0A1926;
    box-shadow:         3px 3px 5px #0A1926;
    z-index: -2;
    margin: 1%;


  }


  .category-header {
    font-family: 'Bowlby One', cursive;
    display: block;
    width: 100%;
    height: 10%;
    margin-top: .3%;
    text-align: center;
    text-shadow: 1px 1px 2px #aaa;
    vertical-align: middle;
    color: #D12A2A;
    font-size: 200%;

  }

  .prizeboard-prize {
    display: inline-block;
    float: left;
    position: relative;
    width: 47%;
    margin: 1.1%;
    height: 18%;
    border: 1px solid #ccc;
    background-color: white;
    padding-top: 1%;
    text-align: center;

  }

  .shadow1 {
    position: relative;
  }

  .shadow1:before, .shadow1:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

  .shadow1:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
  }



  .prizeboard-title {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    float: left;
    right: 0;
    left: 0;
    width: 100%;
    margin: auto;
    text-shadow: 1px 1px 2px #ccc;
    font-size: 140%;
  }




  /*  SHOW  */

  .show-prizeboard-prize {
    display: inline-block;
    float: left;
    position: relative;
    width: 47%;
    margin: 1.25%;
    height: 18%;
    border: 1px solid #ccc;
    background-color: white;
    padding-top: 1%;
    text-align: center;
    color: black;
    font-size: 150%;

  }


  .show-category-container{
    position:absolute;
    top:1.5%;
    bottom:1.5%;
    right: 1.5%;
    left: 1.5%;
    background-color: $category-background;
    border: 1px solid #a7a7a7;
    padding: 0 1%;
    -webkit-box-shadow: 3px 3px 5px #0A1926;
    -moz-box-shadow:    3px 3px 5px #0A1926;
    box-shadow:         3px 3px 5px #0A1926;
    z-index: -2;


  }

  .show-category-header {
    font-family: 'Bowlby One', cursive;
    display: block;
    width: 100%;
    height: 8.8%;
    margin-top: .4%;
    text-align: center;
    text-shadow: 1px 1px 2px #aaa;
    vertical-align: middle;
    font-size: 320%;
    color: rgb(66,139,202);
  }

  .show-prizeboard-title {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    float: left;
    right: 0;
    left: 0;
    width: 100%;
    margin: auto;
    text-shadow: 1px 1px 1px #aaa;
    font-size: 190%;
  }

  .inactive, .inactive div, .inactive a {
    background-color: lighten($category-background, 2%);
    color: #ccc;
    text-shadow: none;
  }

  .inactive {
    border: none;
  }

}