<% category.prizes.each do |prize| %>
  <div class="prize shadow1">
    <%= link_to('#', id: "prize-#{prize.id}") do %>
      <% prize.prize_elements.each do |prize_element| %>
        <span>
          <%= "#{number_to_currency(prize_element.value, precision: 0)} #{prize_element.name}" %>
        </span>
      <% end %>
    <% end %>
  </div>
<% end %>