<% @categories.each do |category| %>
  <%= content_tag(:div, class: "category", id: "category-#{category.id}") do -%>
    <h1><%= link_to category.name, prizeboard_path(category) %></h1>
    <%= render 'prizes', category: category %>
  <% end -%>
<% end %>



