<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <ul class="nav nav-pills">
    <li><%= link_to "Categories", categories_path, class: "btn btn-default" %></li>
    <li><%= link_to "Play Prizeboard", prizeboard_index_path, class: "btn btn-default" %></li>
  </ul>
</nav>